In [ ]:
import pandas as pd
# Dataset will be stored in a Pandas Dataframe

url = 'https://raw.githubusercontent.com/DataScience-in-Tourism/Introduction_to_NLP/main/travelsomeday.csv'
df = pd.read_csv(url)
df.head(1)

                                                                                                                                                                                                                                                                                                                                                                                                                                        id  ...  Unnamed: 18
1 https://twitter.com/_LoveCaribbean/statuses/125... https://twitter.com/_LoveCaribbean/statuses/125... 2020-04-22 07:47:13 _LoveCaribbean RT @grenadaexplorer: A tropical treasure to che... A tropical treasure to cherish forever 🌅 For ex... Twitter Web App 1356684936 https://pbs.twimg.com/profile_images/4741504738... 8047 1099 3019 2013-04-16 07:55:23 #CaribbeanDreaming The diversity of the Caribbe... London en NaN NaN NaN  ...          NaN

[1 rows x 19 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6027 entries, (1, 'https://twitter.com/_LoveCaribbean/statuses/1252926931634458624', 'https://twitter.com/_LoveCaribbean/statuses/1252926931634458624', '2020-04-22 07:47:13', '_LoveCaribbean', 'RT @grenadaexplorer: A tropical treasure to cherish forever 🌅 For exclusive #TravelTips and island insights visit https://t.co/wFawu512ad #…', 'A tropical treasure to cherish forever 🌅 For exclusive #TravelTips and island insights visit https://t.co/wFawu512ad #Grenada #TimeToLime #PureGrenada #SpiceIsle #ILoveGrenada #DreamTodayTravelTomorrow #TravelSomeDay #WeBelieveInTravel #GrenadaDreaming #CaribbeanDreaming https://t.co/64Kg2mPH3l', 'Twitter Web App', 1356684936, 'https://pbs.twimg.com/profile_images/474150473876770817/aNbE9lsf_normal.jpeg', 8047, 1099, 3019, '2013-04-16 07:55:23', '#CaribbeanDreaming The diversity of the Caribbean makes it a wonderful holiday destination whatever your tastes or interests.', 'London', 'en', nan, nan) to (6027, 'https://twitter.com/clairesturz/statuses/1275265122479542273', 'https://twitter.com/clairesturz/statuses/1275265122479542273', '2020-06-22 23:11:13', 'clairesturz', 'How to Find the Best Flight Deals for Black Friday (&amp; All Year!) #travelsomeday #armchairtravel #plannowtravellater https://t.co/aO9LwQ2Yny', 'How to Find the Best Flight Deals for Black Friday (&amp; All Year!) #travelsomeday #armchairtravel #plannowtravellater https://t.co/aO9LwQ2Yny', 'Revive Social App', 874023301, 'https://pbs.twimg.com/profile_images/613107654643351552/43F_WT1I_normal.jpg', 42181, 19532, 24749, '2012-10-11 13:32:59', 'Helping you plan your best future travel adventure by sharing my tried & tested budget travel tips.  #travelsomeday #armchairtravel #dreamtodaytravellater', 'England, United Kingdom', 'en', nan, nan)
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    0 non-null      float64
 1   guid                  0 non-null      float64
 2   link                  0 non-null      float64
 3   pubdate               0 non-null      float64
 4   author                0 non-null      float64
 5   title                 0 non-null      float64
 6   description           0 non-null      float64
 7   source                0 non-null      float64
 8   user_id               0 non-null      float64
 9   profile_image_url     0 non-null      float64
 10  user_statuses_count   0 non-null      float64
 11  user_friends_count    0 non-null      float64
 12  user_followers_count  0 non-null      float64
 13  user_created_at       0 non-null      float64
 14  user_bio              0 non-null      float64
 15  user_location         0 non-null      float64
 16  lang                  0 non-null      float64
 17  coords                0 non-null      float64
 18  Unnamed: 18           0 non-null      float64
dtypes: float64(19)
memory usage: 2.8+ MB

As we can see from here, the text data is at the index. We need to convert indexes to columns.

In order to do this, first we need to give a name to columns in the index

In [ ]:
df= df.rename_axis(['id1','url','url2','date','username', 'quote', 'tweet','as1','as2','as3','as4','as5','as6','as7','as8','as9','as10','as11','a12'])
df.columns.to_list()

['id',
 'guid',
 'link',
 'pubdate',
 'author',
 'title',
 'description',
 'source',
 'user_id',
 'profile_image_url',
 'user_statuses_count',
 'user_friends_count',
 'user_followers_count',
 'user_created_at',
 'user_bio',
 'user_location',
 'lang',
 'coords',
 'Unnamed: 18']

In [ ]:
df.sample(1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                             id  ...  Unnamed: 18
id1  url                                                url2                                               date                username        quote                                              tweet                                              as1                     as2                 as3                                                as4   as5 as6  as7                 as8                                                as9                 as10 as11 a12      ...
5788 https://twitter.com/Edinburgh_forum/statuses/12... https://twitter.com/Edinburgh_forum/statuses/12... 2020-06-19 05:15:31 Edinburgh_forum RT @clairesturz: An #Edinburgh Food Tour with E... An #Edinburgh Food Tour with Eat Walk Edinburgh... The Edinburgh Forum app 1037405206529671168 https://pbs.twimg.com/profile_images/1037407794... 63352 49  2058 2018-09-05 14:20:50 WE\'RE FREE!! All things Edinburgh up for discu... Edinburgh, Scotland en   NaN  NaN NaN  ...          NaN

[1 rows x 19 columns]

In [ ]:
df.reset_index(inplace=True)
df.sample(1)

       id1  ... Unnamed: 18
3643  3644  ...         NaN

[1 rows x 38 columns]

In [ ]:
df.tweet.sample(5).to_list()

['The Riviera Guesthouse in Whitby – My Yorkshire Foodie Adventure #travelsomeday #armchairtravel #plannowtravellater https://t.co/EDrfN76ToB #england',
 '#SundaySunsets at the Buffalo Bill Cultural Center, Oakley, Kan. #noplacelikeks #roxieontheroad @TravelKS #mwtravel @_sundaysunsets_ @RoarLoudTravel @always5star @angelsnmom @GreenMochila #traveltribe #travelblogger #travelsomeday https://t.co/mC14nwBIX8',
 'Free Accommodation in Exchange for Work as a Hostel Volunteer #travelsomeday #armchairtravel #plannowtravellater https://t.co/bw6oCOHEAF #workaway',
 'Virtually travel and explore New Zealand in this article from guest writer &amp; photographer Courtney Ley  &gt;&gt; https://t.co/3aWAZRL7f1  #stayhome #travelsomeday #DreamNowTravelLater https://t.co/yxMzObd462',
 'A month before lockdown, I drove around NE #scotland with my little sister. For some aspirational/domestic travel inspo, I got to write about it for @ThePointsGuyUK https://t.co/oMsYlQOCJD #roadtrip #travelsomeday @VisitScotland']

In [ ]:
#We have two columns as a text. Let's check them and decide which one we will work on
df.loc[:,['quote', 'tweet']].sample(10)

                                                  quote                                              tweet
391   RT @RoarLoudTravel: Virtually travel and explo...  Virtually travel and explore New Zealand in th...
1672  RT @Nancy_Chuang: The rains bring the most unb...  The rains bring the most unbearable 85% humdit...
5382  Solo Dining: How to Rock Eating Alone in a Res...  Solo Dining: How to Rock Eating Alone in a Res...
5603  RT @clairesturz: Free Accommodation in Exchang...  Free Accommodation in Exchange for Work as a H...
2938  Inis Mór Island: A Day Trip to the Aran Island...  Inis Mór Island: A Day Trip to the Aran Island...
3759  How to Fall in Love With #London in 2 Days #tr...  How to Fall in Love With #London in 2 Days #tr...
2513  RT @clairesturz: A Giant’s Causeway Tour from ...  A Giant’s Causeway Tour from Belfast to Walk t...
1680  Just because you can\'t travel right now doesn...  Just because you can\'t travel right now doesn...
2890  How many have you seen in person? https://t.co...  How many have you seen in person? https://t.co...
2034  El Santuario de las Lajas – #Ipiales #travelso...  El Santuario de las Lajas – #Ipiales #travelso...

It looks like quote column is mostly retweets. I will go with ***tweet*** column from now on, and apply text cleaning on it.

# **Text Cleaning**

In this step, these text cleaning steps will be applied on tweets:



*   Make all text lower case
*   Expanding Contractions
*   Removal of Stop Words
*   Removing URLs
*   Remove html HTML tags
*   Removing Emojis
*   Remove Emoticons
*   Stemming & Lemmatization (and the difference)
*   Spell Correction
*   Normalization
*   Removing Punctuation
*   TF-IDF

In [ ]:
!pip install -q wordcloud
import wordcloud
from nltk.corpus import stopwords
import nltk
import string
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

### **Make all text lower case**

In [ ]:
df['tweet'] = df['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['tweet'].head()

0    a tropical treasure to cherish forever 🌅 for e...
1    backpacking in #cuba on a budget #travelsomeda...
2    we likeee! https://t.co/2g1hmcpsvn #deltaairli...
3    experience buenos aires like a local #travelso...
4    who can\'t wait for grenada sailing festival 2...
Name: tweet, dtype: object

Before going further, let's extract number of punctuation for each tweet as a new feature

In [ ]:
def count_punct(text):
    count = sum([1 for char in text if char in string.punctuation])
    return count
#Apply the defined function on the text data
df['punctuation'] = df['tweet'].apply(lambda x: count_punct(x))
#Let's check the dataset
df[['tweet','punctuation']].head()

                                               tweet  punctuation
0  a tropical treasure to cherish forever 🌅 for e...           21
1  backpacking in #cuba on a budget #travelsomeda...            9
2  we likeee! https://t.co/2g1hmcpsvn #deltaairli...            9
3  experience buenos aires like a local #travelso...            9
4  who can\'t wait for grenada sailing festival 2...           25

In [ ]:
# Additionally, let's save number of hastags are new features
df['hastags'] = df['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['tweet','hastags']].head()

                                               tweet  hastags
0  a tropical treasure to cherish forever 🌅 for e...       11
1  backpacking in #cuba on a budget #travelsomeda...        4
2  we likeee! https://t.co/2g1hmcpsvn #deltaairli...        3
3  experience buenos aires like a local #travelso...        4
4  who can\'t wait for grenada sailing festival 2...       11

### **Expand Contractions**

Contractions are words or combinations of words which are shortened by dropping letters and replacing them by an apostrophe. 

Let’s have a look at some examples:
* we’re = we are
* we’ve = we have
* I’d = I would

Note: This step needs to be done before word tokenizer because NLTK word tokenizer has in-built methods for dealing with contractions. However, NLTK word tokenizer's approach separates contractions without expanding. Expanding is a better method than simply separating.

In [ ]:
!pip install contractions

Collecting contractions
  Downloading https://files.pythonhosted.org/packages/0a/04/d5e0bb9f2cef5d15616ebf68087a725c5dbdd71bd422bcfb35d709f98ce7/contractions-0.0.48-py2.py3-none-any.whl
Collecting textsearch>=0.0.21
  Downloading https://files.pythonhosted.org/packages/d3/fe/021d7d76961b5ceb9f8d022c4138461d83beff36c3938dc424586085e559/textsearch-0.0.21-py2.py3-none-any.whl
Collecting pyahocorasick
  Downloading https://files.pythonhosted.org/packages/4a/92/b3c70b8cf2b76f7e3e8b7243d6f06f7cb3bab6ada237b1bce57604c5c519/pyahocorasick-1.4.1.tar.gz (321kB)
     |████████████████████████████████| 327kB 4.2MB/s
Collecting anyascii
  Downloading https://files.pythonhosted.org/packages/09/c7/61370d9e3c349478e89a5554c1e5d9658e1e3116cc4f2528f568909ebdf1/anyascii-0.1.7-py3-none-any.whl (260kB)
     |████████████████████████████████| 266kB 7.5MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.1-cp37-cp37m-linux_x86_64.whl size=85263 sha256=97c69fd79ce74cb6d971fe4e41b16cd0ec03b15aedca098937c4c01b20284255
  Stored in directory: /root/.cache/pip/wheels/e4/ab/f7/cb39270df8f6126f3dd4c33d302357167086db460968cfc80c
Successfully built pyahocorasick
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.1.7 contractions-0.0.48 pyahocorasick-1.4.1 textsearch-0.0.21

In [ ]:
import contractions

# Example text 
text = ''' She'll be airport in 30 mins. We are supposed to catch the arrival, aren't we?  
          I'd love to welcome her personally. It'll be an awesome vacation.'''
  
# creating an empty list 
expanded_words = []     
for word in text.split(): 
  # using contractions.fix to expand the shotened words 
  expanded_words.append(contractions.fix(word))    
    
expanded_text = ' '.join(expanded_words) 
print('Original text: ' + text) 
print('\n') 
print('Expanded_text: ' + expanded_text)

Original text:  She'll be airport in 30 mins. We are supposed to catch the arrival, aren't we?
          I'd love to welcome her personally. It'll be an awesome vacation.


Expanded_text: she will be airport in 30 mins. We are supposed to catch the arrival, are not we? I would love to welcome her personally. it will be an awesome vacation.

In [ ]:
df['tweet'] = df['tweet'].apply(lambda x: contractions.fix(x))
df.tweet.sample(5)

1207    the hotel landscape has changed dramatically. ...
1604    a yearly tradition that surprisingly is in pla...
198     #travellers, can you guess which country i\ wo...
1605    want to escape to a castle? sintra in portugal...
2030    one of the little #hindu shrines dotting the #...
Name: tweet, dtype: object

### **Removal of Stop Words**

In [ ]:
# before removing stopwords, they count them
df['stopwords'] = df['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
df[['tweet','stopwords']].head()

                                               tweet  stopwords
0  a tropical treasure to cherish forever 🌅 for e...          4
1  backpacking in #cuba on a budget #travelsomeda...          3
2  we likeee! https://t.co/2g1hmcpsvn #deltaairli...          1
3  experience buenos aires like a local #travelso...          1
4  who can\'t wait for grenada sailing festival 2...          3

In [ ]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['tweet'] = df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['tweet'].sample(10)

5332    best #hostel #lisbon #portugal solo travellers...
2382    blarney castle tour &amp; kissing blarney ston...
2574    secret food tour #london #travelsomeday #armch...
2587    big changes coming #hawaii tourist experience ...
2066    get #cusco #ollantaytambo &amp; go! #travelsom...
2365    ireland announces 5-step plan reopening, makes...
55      free walking tour #mexico city: estación mexic...
3885    improve travel photography can\'t actually tra...
2881    #hiking live #volcano #antigua #guatemala #tra...
939     pauline frommer (author frommer guides #nyc) w...
Name: tweet, dtype: object

#### **Adding common words from our document to stop_words**

Doing this step can be better after TF-IDF because TF-IDF will also remove many words. Or, at the end of the data cleaning, most frequent words can be checked. If we think that there are some irrelevant or meaningless common words, we can remove them by adding as new stopwords.

In [ ]:
add_words = ["also","im","ive",]

stop_words = set(stopwords.words("english"))
stop_added = stop_words.union(add_words)

df['tweet'] = df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_added))
df['tweet'].sample(10)

4565    top things see &amp; #portugal https://t.co/vj...
1474    wow, knew #ireland beautiful, idea stunning ge...
1421    travel crafts? now\'s time! @herpackinglist in...
1390    anyone tried stand paddleboarding? think looks...
3015    try visit #venice day – need one #travelsomeda...
3613    best hikes peru – hikes &amp; treks #peru #tra...
3255    reflecting previous #travel - you\'ve visited ...
5998    sure start comes getting back traveling planni...
4772    stairway gods san miguelito #cancún. 🇲🇽 @museo...
3682    good idea keep logbook? ⛵️ 📙 info: https://t.c...
Name: tweet, dtype: object

### **Remove URLs**

In [ ]:
import re

def remove_urls (vTEXT):
    vTEXT = re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '', vTEXT, flags=re.MULTILINE)
    return(vTEXT)

df['tweet'] = df.tweet.apply(remove_urls)
df.tweet.head()

0    tropical treasure cherish forever 🌅 exclusive ...
1    backpacking #cuba budget #travelsomeday #armch...
2    likeee!  #deltaairlines #coronavirus #travelso...
3    experience buenos aires like local #travelsome...
4    can\'t wait grenada sailing festival 2021?! ☝️...
Name: tweet, dtype: object

### **Remove html tags**

In [ ]:
from bs4 import BeautifulSoup

def strip_html_tags(text):
    soup = BeautifulSoup(text, "html.parser")
    stripped_text = soup.get_text()
    return stripped_text

#Trial
strip_html_tags('sdasdasdasd http://t.co/7AzE4IoGMe Risk Assessmen ')

'sdasdasdasd http://t.co/7AzE4IoGMe Risk Assessmen '

In [ ]:
df['tweet'] = df['tweet'].apply(lambda x: strip_html_tags(x))
df['tweet'].head()

0    tropical treasure cherish forever 🌅 exclusive ...
1    backpacking #cuba budget #travelsomeday #armch...
2    likeee!  #deltaairlines #coronavirus #travelso...
3    experience buenos aires like local #travelsome...
4    can\'t wait grenada sailing festival 2021?! ☝️...
Name: tweet, dtype: object

###**Removing Emojis**

Eventhough emojis can be indictor of some emotions that can be related to the tweet, we need to remove the emojis in our text analysis because for now we don't have a strong method to utulize emojis.

In [ ]:
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags 
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

#Example
remove_emoji("Have fun with NLP! 😃😃")

'Have fun with NLP! '

In [ ]:
# remove all emojis from tweets
df['tweet'] = df['tweet'].apply(lambda x: remove_emoji(x))

### **Remove Emoticons**

In previous steps, we have removed emoji. Now, going to remove emoticons.

What is the difference between emoji and emoticons?

:-) is an emoticon
😜 → emoji.

In [ ]:
!pip install emot
from emot.emo_unicode import UNICODE_EMO, EMOTICONS

# Function for removing emoticons
def remove_emoticons(text):
    emoticon_pattern = re.compile(u'(' + u'|'.join(k for k in EMOTICONS) + u')')
    return emoticon_pattern.sub(r'', text)

Collecting emot
  Downloading https://files.pythonhosted.org/packages/49/07/20001ade19873de611b7b66a4d5e5aabbf190d65abea337d5deeaa2bc3de/emot-2.1-py3-none-any.whl
Installing collected packages: emot
Successfully installed emot-2.1

In [ ]:
df['tweet'] = df['tweet'].apply(lambda x: remove_emoticons(x))
df.tweet.sample(5)

202     love hostels, time #adoptahostel! give struggl...
698     #pillowchallenge send picture j-pillow travel ...
1870    aloha means goodbye: #hawaii extends shutdown ...
4679    new blog post! today i\'m talking home means m...
2812    long weekend #riga #latvia #travelsomeday #arm...
Name: tweet, dtype: object

### **Stemming and Lemmatization**

**Definition**: Stemming usually refers to a crude heuristic process that chops off the ends of words in the hope of achieving this goal correctly most of the time, and often includes the removal of derivational affixes. Lemmatization usually refers to doing things properly with the use of a vocabulary and morphological analysis of words, normally aiming to remove inflectional endings only and to return the base or dictionary form of a word, which is known as the lemma . 

Source: https://nlp.stanford.edu/IR-book/html/htmledition/stemming-and-lemmatization-1.html

In [ ]:
#Example (adapted from datacamp)
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
porter=PorterStemmer()

In [ ]:
#Tourism specific words to be stemmed and lemmatized
word_list = ["tourist", "booking", "rating","itinerary","recreation","amenities","attractions","sightseeing","eating"]
print("{0:20}{1:20}{2:20}".format("Original Word","Stemmed","Lemmatized"))

for word in word_list:
    print("{0:20}{1:20}{2:20}".format(word,porter.stem(word),wordnet_lemmatizer.lemmatize(word,pos="v")))

Original Word       Stemmed             Lemmatized
tourist             tourist             tourist
booking             book                book
rating              rate                rat
itinerary           itinerari           itinerary
recreation          recreat             recreation
amenities           amen                amenities
attractions         attract             attractions
sightseeing         sightse             sightsee
eating              eat                 eat

In [ ]:
#We can apply just one of the stemming or lemmatizion. For this study, we will go with lemmatization.
#Still here is the codes for stemming
'''
porter=PorterStemmer()

def stemSentence(sentence):
    token_words=word_tokenize(sentence)
    token_words
    stem_sentence=[]
    for word in token_words:
        stem_sentence.append(porter.stem(word))
        stem_sentence.append(" ")
    return "".join(stem_sentence)

df['tweet'] = df['tweet'].apply(lambda x: stemSentence(x))
df.sample(5)
'''

'\nporter=PorterStemmer()\n\ndef stemSentence(sentence):\n    token_words=word_tokenize(sentence)\n    token_words\n    stem_sentence=[]\n    for word in token_words:\n        stem_sentence.append(porter.stem(word))\n        stem_sentence.append(" ")\n    return "".join(stem_sentence)\n\ndf[\'tweet\'] = df[\'tweet\'].apply(lambda x: stemSentence(x))\ndf.sample(5)\n'

In [ ]:
#Lemmatization

def LemmaSentence(sentence):
    token_words=word_tokenize(sentence)
    token_words
    lemma_sentence=[]
    for word in token_words:
        lemma_sentence.append(wordnet_lemmatizer.lemmatize(word, pos= 'v'))
        lemma_sentence.append(" ")
    return "".join(lemma_sentence)

df['tweet'] = df['tweet'].apply(lambda x: LemmaSentence(x))
df.tweet.sample(5)

4611    ten travel tip # cuba # travelsomeday # armcha...
2544    plan trip hawaii - momma go travel # travel # ...
4695    10 planet\ 's unusual house # travelsomeday # ...
5528    2 days # edinburgh itinerary : perfect weekend...
1345    quebecois twilight micmac mountains . @ touris...
Name: tweet, dtype: object

In [ ]:
df.tweet.dtype

dtype('O')

### **Spell Correction** 
*Reminder: below explanation was taken from somewhere and needs to be parapharased*


We’ve all seen tweets with a plethora of spelling mistakes. Our timelines are often filled with hastly sent tweets that are barely legible at times.

In that regard, spelling correction is a useful pre-processing step because this also will help us in reducing multiple copies of words. For example, “Analytics” and “analytcs” will be treated as different words even if they are used in the same sense.

To achieve this we will use the textblob library.

In [ ]:
from textblob import TextBlob
#Example sentence
sentence = TextBlob("I havv goood speling!")
print(sentence.correct())

I have good spelling!

In [ ]:
# Example sentence related to tourism context
print(TextBlob('In Chicago, a lakeside is a goodf lcation to relax').correct())
print(TextBlob('Minesota is briming with natual and cltural bauty').correct())

In Chicago, a lakeside is a good location to relax
Minnesota is brimming with natural and cultural beauty

In [ ]:
%time df['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

CPU times: user 21.2 s, sys: 104 ms, total: 21.3 s
Wall time: 21.4 s

0    tropical treasure cherish forever exclusive # ...
1    backpack # cuba budget # travelsomeday # armch...
2    like ! # deltaairlines # coronavirus # travels...
3    experience burns air like local # travelsomeda...
4    can\'t wait grenade sail festival 2021 ? ! exc...
Name: tweet, dtype: object

In [ ]:
df.tweet.head()

0    tropical treasure cherish forever exclusive # ...
1    backpack # cuba budget # travelsomeday # armch...
2    likeee ! # deltaairlines # coronavirus # trave...
3    experience buenos air like local # travelsomed...
4    can\'t wait grenada sail festival 2021 ? ! exc...
Name: tweet, dtype: object

In [ ]:
#This takes a bit long to complete. I will skip for now.

from textblob import TextBlob
%time df['tweet'] = df['tweet'].apply(lambda x: str(TextBlob(x).correct()))
print(df.tweet.head())

In [ ]:
# Checking misspelled words (we aren't using this in this study)

# !pip install pyspellchecker
# from spellchecker import SpellChecker

# spell = SpellChecker()
# misspelled = spell.unknown(df.tweet)
# print(misspelled)

### **Removing Punctuation**

A reminder: if you remove punctuation earlier then html tags and URLs, then it won't be possible to remove them probably later. That's why, removing punctuation the last is a wise choice.

In [ ]:
df['tweet'] = df['tweet'].str.replace('[^\w\s]','')
df['tweet'].head()

0    tropical treasure cherish forever exclusive  t...
1    backpack  cuba budget  travelsomeday  armchair...
2    like   deltaairlines  coronavirus  travelsomeday
3    experience burns air like local  travelsomeday...
4    cant wait grenade sail festival 2021   exclusi...
Name: tweet, dtype: object

### **Language Detection**

In [ ]:
import os, re, nltk, spacy, string, umap

pd.set_option('display.max_colwidth', 50) 
nlp = spacy.load('en_core_web_sm')

!pip install spacy-langdetect
from spacy_langdetect import LanguageDetector
nlp.add_pipe(LanguageDetector(), name='language_detector', last=True)

Collecting spacy-langdetect
  Downloading https://files.pythonhosted.org/packages/29/70/72dad19abe81ca8e85ff951da170915211d42d705a001d7e353af349a704/spacy_langdetect-0.1.2-py3-none-any.whl
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from spacy-langdetect) (3.6.4)
Collecting langdetect==1.0.7
  Downloading https://files.pythonhosted.org/packages/59/59/4bc44158a767a6d66de18c4136c8aa90491d56cc951c10b74dd1e13213c9/langdetect-1.0.7.zip (998kB)
     |████████████████████████████████| 1.0MB 4.3MB/s
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (8.7.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (54.0.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (1.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (1.10.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (0.7.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (20.3.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.7-cp37-none-any.whl size=993460 sha256=35d43eef096d5d626f1ccea9d353094ef4ef9244020020e19332d13e2377dc78
  Stored in directory: /root/.cache/pip/wheels/ec/0c/a9/1647275e7ef5014e7b83ff30105180e332867d65e7617ddafe
Successfully built langdetect
Installing collected packages: langdetect, spacy-langdetect
Successfully installed langdetect-1.0.7 spacy-langdetect-0.1.2

In [ ]:
def detect_language(tweet):
    try:
        doc = nlp(t)
        language = doc._.language['language']
        score = doc._.language['score']
    except:
        language = ''
        print('sth goes wrong')
    return language, score

languages = []
scores = []
for i, t in df['tweet'].iteritems():
    l, s = detect_language(t)
    if i % 100 ==0:
        print(i, t, l)  
    languages.append(l)
    scores.append(s)
    
df['lng'] = languages
df['lng_score'] = scores

0 tropical treasure cherish forever exclusive  traveltips island insight visit  grenade  timetolime  puregrenada  spiceisle  ilovegrenada  dreamtodaytraveltomorrow  travelsomeday  webelieveintravel  grenadadreaming  caribbeandreaming  en
100 charlie chocolate factory afternoon tea  london  travelsomeday  armchairtravel  staythefhome  england  en
200 nuestros compañeros de travel est abriendo frontiers captando naevus ideas para el tourism de nuestra provincial     stop chaos son nos verdaderos cracks   tourism  evil  travelsomeday  es
300  travelsomeday  no
400 virtually travel explore new zealand article guest writer  photographer journey let    stayhome  travelsomeday  dreamnowtravellater  en
500 sometimes sasha draconine  othertimes look like this   thailandinsider  thailandfanclub  gothaibefree  thailand  bangkok  watprakaew  we  tt  trot  travel  travelblogger  solotravel  gaytravel  ilovelgbttravel  travelfromhome  travelsomeday  armchairtravel  picoftheday  en
600 wonder  hokusai know influential  the great  wave  kanagawa  would be  nearly 200 years later   streetart  graffitiart  graffiti  art  visit  visit  ilovelgbttravel  gaytravel  travel  travelfromhome  virtualtravel  traveltomorrow  travelsomeday  we  trot  tt  en
700 may thing anaemic era hope stick around  deltaairlines  travelsomeday  en
800 great mix architecture  nighttime best thermal bath world   budapest one favorite cities  europe intrigue  check last trip you figure  travelsomeday  en
900 walk artists  alley  kansascity   visit  ilovelgbttravel  streetart  graffiti  art  gaytravel  lesbiantravel  we  tt  trot  travel  travelfromhome  armchairtravel  travelsomeday  traveltomorrow  virtualtravel  are  lgbttravel  travelblogger  solotravel  are  no
1000 happy  earthly everyone  favorite photo celebrate natural wonder earth  share favorite photo celebrate great planet   earthday2020  wednesdaymorning  stayhome  travelsomeday  wednesdaymotivation  en
1100 day trip  right  latvia  travelsomeday  armchairtravel  staythefhome  en
1200 beach here s printable beachtheme coloringin sheet activity sheet kid   dreamnowtravellater  sunset  bucketlist  travelsomeday  en
1300  love affair  barcelona  travelsomeday  armchairtravel  staythefhome  adventure  en
1400 anyone try stand paddleboarding  think look like much fun  especially beautiful  sunrise backdrop   dreamnowtravellater  travelsomeday  bucketlist  en
1500  coronavirus change hope stick around  travelsomeday  deltaairlines  en
1600 virtual travel pleasure  give sun view dry creek valley   winecountry  travelsomeday pp   omarshinez  view terrace  trattorefarms   en
1700 americans find shut try travel near future   travelsomeday  coronavirus  en
1800 head  india it s safe travel again  check  photography tip make tax mahan photo  travelphotography  travel  traveltips  travelblog  travelblogger  femaletravelblogger  traveltribe  agra  travelsomeday  en
1900 loops hashtags work add fact   srilanka  travelphotography  travelsomeday  poyaday  srilankadaily  la  colombia  wanderlust  en
2000 date woman travel  travelsomeday  armchairtravel  staythefhome  traveltips  en
2100 2019 seem like lifetime ago  doesnt it  simpler time  reveal popular adventure wanderlust trip finder last year  classic surprise list   armchairwanderlust  travelsomeday  en
2200  galswander  fitlifetravel  liveamemory  eatlivestay  angelsnmom  always5star  _sundaysunsets_  roarloudtravel  greenmochila  evanskerry  emilymaehood  touches  travelsendless  apairofleclairs  aramblinwoman  ourworldforyou  waysyouwander  yourcruisegurl  lisarivera2207  travelbugsworld  jetsettersflyin  perthtravelers  suziday123  travelwithirine  usgulfcoast  fullvanfun  giselleinmotion  folderred  onedelightfull  xeniakaepernick  stevehammactor  stevekubota  abfabtravels  roadtripc  jflorez  demicassiani  coursecharted  susanbryenton  hhlifestyletrav  organicroadmap  monkeysventures  nicolette_o  guesswhereiwent  adventuringgal  curious miss big adventure watch sunset offthebeaten track place   sundaysunsets take fall star valley mesh island  ran  _sundaysunsets_  always5star  roarloudtravel  greenmochila  angelsnmom  sundaymotivation  travelsomeday  en
2300 latest update  ray  sail course charter  grenade   grenadiers  puregrenada  ilovegrenada  dreamtodaytraveltomorrow  travelsomeday  webelieveintravel  grenadadreaming  caribbeandreaming  en
2400 11 reason  hostess awesome  travelsomeday  armchairtravel  staythefhome  travel  en
2500 one best ways see labor above   dreamnowvisitlater  labor  egypt  adventuretravel  travel  history  divergenttravel  travelsomeday  experienceegypt  en
2600 grab adventure partner discover egypt hold  photo location  karay complex labor egypt  dreamnowvisitlater  labor  egypt  adventuretravel  travel  history  divergenttravel  travelsomeday  experienceegypt  travelcouple  en
2700 get nature could good strategy travel again  inspiration   travelsomeday  en
2800 archivesso book longer new  picture still aweinspiring   travelsomeday  adventuresomeday  en
2900 go watch  privates  bone  you want plan future trip one 9 private hot spot around world   travelsomeday  armchairwanderlust  en
3000  travelsomeday fun things western massachusetts  othersidema  othersidema  en
3100 would pay  200 avoid 2week quarante upon arrival  europe   travelsomeday  austria  en
3200 today noon  est   scott_history  live washington s war tent join  mountvernon s  douglasbradburn  live washington s estate   mountvernon s  washingtonwednesday  tune   amrevmuseum via  uwishunu  travelsomeday  en
3300  hobbitenango   hobbies guatemala  s middle earth  travelsomeday  armchairtravel  staythefhome  antique  en
3400 maman scrawl capital jordan  hide beneath bustle you find wealth history culture  add  visitjordan  travelsomeday bucket list   dreamnowtravellater  maman  divergenttravel  jordan  adventuretravel  en
3500 need know you plan visit national park come months  travelsomeday  en
3600 normally would spend long weekend something like   spoke parksville  road less travel  travelsomeday  explored  en
3700  travelsomeday best hot air balloon experience around world  en
3800  travelsomeday play natalya golf  two great golf course old course new course heart  costadelsol  golf play natalya golf  two great golf course old course  new course heart  costadelsol  golf  expand  spain  egtgolftour  staysafe  en
3900 take armchair trip around south africa s cape peninsula me   bloggerls  lovingblogs  travelsomeday  en
4000 past make cook class  milan  italy  armchairtravel  travelsomeday  staythefhome  fooddrink  en
4100 portugal s odd open plan may make neighbor irate  play american brazilian travelers  travelsomeday  coronavirus  en
4200 11 unmissable experience activities  paris kid  lovingblogs  bloggerls  travelsomeday  en
4300 solo din  rock eat alone restaurant  armchairtravel  travelsomeday  staythefhome  fooddrink  en
4400 free things vancouver   canada  travelsomeday  armchairtravel  plannowtravellater  en
4500  portugal reward countries speak  portuguese  large community descend portugal  open measure  travelsomeday  en
4600 bite  berlin food tour review  travelsomeday  armchairtravel  plannowtravellater  europe  en
4700 it easier find room national park lodge summer find space national park campfire  here s why   travelsomeday  en
4800 best budget destination add bucket list  travelsomeday  armchairtravel  plannowtravellater  en
4900 free things  toronto  canada  travelsomeday  armchairtravel  plannowtravellater  en
5000 find campfire re could unusually difficult year  thank increase number re vacationers  close  or partially close campgrounds  we help easy fourstep strategy   travelsomeday  en
5100 estates preparando el major  vice for  italian serf un experience personalizada incredible  quires veins   travelsomeday  travelers  travelphotography  nuevanormalidad  traveler  es
5200 things  every  portugal  travelsomeday  armchairtravel  plannowtravellater  europe  en
5300 new post fell love seville  spain  ever travel somewhere instantly fall love place  maybe even plan move there   travelblog  traveltribe  seville  spain  travelsomeday  travelmemories  en
5400 harvey bay  town know two reason  popular access point fraser island and  season  great stop whale watch  queensland  australia  travel  travelsomeday  travelphotography  longer  blow  en
5500 colourful cities world  travelsomeday  armchairtravel  plannowtravellater  colour  en
5600 castle intra  fairytale palaces  garden historical sit  travelsomeday  armchairtravel  plannowtravellater  lesion  en
5700 your valley wine tour  river cruise  porto  travelsomeday  armchairtravel  plannowtravellater  portwine  en
5800 manage attitude  custom attitude sickness much pitch  travelsomeday  armchairtravel  plannowtravellater  peru  en
5900 best view pen palace  garden intra   portugal  travelsomeday  armchairtravel  plannowtravellater  europe  en
6000 7 best free view  london  travelsomeday  armchairtravel  plannowtravellater  en

In [ ]:
df[['tweet', 'lng','lng_score']].sample(10).round(2)

                                                  tweet lng  lng_score
2497  lavender field  an river  moles writes outdoor...  en       1.00
4359   djurönäset  relax  stockholm archipelago  tra...  sv       0.86
1162  friends beat page travel include wichita  s ke...  en       1.00
2521  2 days  edinburgh itinerant  perfect weekend  ...  en       1.00
4807  manage attitude  custom attitude sickness much...  en       1.00
5134   xavc67 many case you right that s include has...  en       1.00
5036  eat venice  traditional food  venice try  trav...  en       1.00
2175  visit frederiksborg castle hillerød  denmark  ...  da       1.00
5264  like simon mountains  ethiopia need add anyone...  no       0.57
2255  climb  of arena nine partner of  travelsomeday...  en       1.00

In [ ]:
df.lng.value_counts()

en    5607
no     186
it      76
fr      38
sv      35
da      33
ca      26
es      20
id       2
nl       1
hr       1
el       1
sl       1
Name: lng, dtype: int64

In [ ]:
language_counts = df.lng.value_counts()
pd.DataFrame(language_counts)

'no' stands for Norwegian language. 

For more info about acronyms of languages:
https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

In [ ]:
# Number of English Tweets
df.loc[df.lng == 'en'].shape

(5607, 43)

In [ ]:
# Keep only English language and drop the rest
df = df.loc[df.lng == 'en']

### **TF_IDF**

In [ ]:
#import the TfidfVectorizer from Scikit-Learn.
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_df=.80, min_df=5, stop_words=None, use_idf=True, norm=None)
transformed_tweets = vectorizer.fit_transform(df.tweet)

print(transformed_tweets.shape)

In [ ]:
dense = transformed_tweets.todense()
denselist = dense.tolist()
feature_names = vectorizer.get_feature_names()
df2 = pd.DataFrame(denselist, columns=feature_names)

In [ ]:
df2.head()

In [ ]:
transformed_tweets_as_array = transformed_tweets.toarray()
# use this line of code to verify that the numpy array represents the same number of documents that we have in the file list
len(transformed_tweets_as_array)

### **Tokenization**


For many of the techniques we'll be using in future notebooks, the text must be tokenized, meaning broken down into smaller pieces. The most common tokenization technique is to break down text into words. We can do this using scikit-learn's CountVectorizer, where every row will represent a different document and every column will represent a different word.

In [ ]:
# We are going to create a document-term matrix using CountVectorizer, and exclude common English stop words
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
data_cv = cv.fit_transform(df.tweet)
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_dtm.index = df.index
data_dtm

In [ ]:
cv = CountVectorizer(max_df = 0.90, min_df= 0.001)
data_cv = cv.fit_transform(df.tweet)
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names()) #Document term matrix
data_dtm.index = df.index
data_dtm

In [ ]:
# Let's pickle it for later use
data_dtm.to_pickle("cleaned_tweets.pkl")

#Notice that the pickled data contains only tweets, not other columns.


**What Can You Do With pickle?**

Pickling is useful for applications where you need some degree of persistency in your data. 
Your program's state data can be saved to disk, so you can continue working on it later on.
It can also be used to send data over a Transmission Control Protocol (TCP) or 
socket connection, or to store python objects in a database. Pickle is very 
useful for when you're working with machine learning algorithms, where you want
to save them to be able to make new predictions at a later time, without
having to rewrite everything or train the model all over again.

Source:https://www.datacamp.com/community/tutorials/pickle-python-tutorial#whatfor



---
# **FEATURE EXTRACTION**

For the feature extraction, we will apply following steps in order. Depending on your study and data, you may skip some of these features and add your own feature extractions.

 word count: counts the number of tokens in the text (separated by a space)

1.   **character count**: 
2. **average word length**


Features that can only be obtained before the text cleaning


* Number of stop words
* The number of punctuation
* Number of hashtag characters
* Number of numerical characters
* Number of Uppercase words
* sentence count

In the book, as an egzersize, it can be asked: Why these features can only be obtained before text cleaning? Explain for each of them.

In [ ]:
'''
# Here is the feature enginnering scripts that can be done before data cleaning

# Number of stopwords
df['stopwords'] = df['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))

#Number of punctuation
def count_punct(text):
    count = sum([1 for char in text if char in string.punctuation])
    return count

df['punctuation'] = df['tweet'].apply(lambda x: count_punct(x))

# Number of hashtag characters
df['hastags'] = df['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

# Number of numerics
df['numerics'] = df['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

# Number of Uppercase words
df['upper'] = df['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))

# sentence count
dtf['sentence_count'] = df["tweet"].apply(lambda x: len(str(x).split(".")))
'''

In [ ]:
# Number of hashtag characters
df['hastags'] = df['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

#character count
df['char_count'] = df['tweet'].str.len() ## this also includes spaces

def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/(len(words)+0.000001))

df['avg_word'] = df['tweet'].apply(lambda x: avg_word(x)).round(1)

df[['tweet','char_count','avg_word']].sample(5)

Keep in mind that in feature enginnering process, we are not changing the text (the tweet) column. Therefore, the pickled file stays unchanged.

In [ ]:
#Let's save cleaned data

df.to_csv('tourism_tweets_cleaned.csv', index=False)

### **Checking requirements for this notebook**

In [ ]:
!pip3 freeze > requirements.txt

In [ ]:
# show the file's contents
! cat requirements.txt

In [ ]:
# Import the os module
import os

# Get the current working directory
cwd = os.getcwd()

# Print the current working directory
print("Current working directory: {0}".format(cwd))

# Print the type of the returned object
print("os.getcwd() returns an object of type: {0}".format(type(cwd)))

Current working directory: /content
os.getcwd() returns an object of type: <class 'str'>